#preview{
    width: 100%;
    margin: 0 0 100px 0;
    padding: 20px;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    background-color: rgba(208, 255, 83, 0.95);
}
#preview-nav{
    margin-top: 100px;
    width: 100%;
    font-size: 25px;
    justify-content: center;
    background-color: rgb(83, 122, 20);
    padding:0 20.5px 0 20.5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}